*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider__item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
}

.slider__item:nth-child(1) { background-image: url(../images/1.jpg) }
.slider__item:nth-child(2) { background-image: url(../images/2.jpg) }
.slider__item:nth-child(3) { background-image: url(../images/3.jpg) }

.slider__text {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #666;
}

.slider__text p:first-child {
    font-size: 6rem;
}

.slider__text p {
    line-height: 5rem;
}

.slider__arrows {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__arrows--left,
.slider__arrows--right {
    color: #fff;
    text-shadow: 1px 1px #666;
    font-size: 3.5rem;
    padding: 0 2rem;
    cursor: pointer;
    transition: transform .5s, opacity .5s;
}

.slider__arrows--left:hover {
    opacity: .6;
    transform: translateX(-5px);
}

.slider__arrows--right:hover {
    opacity: .6;
    transform: translateX(5px);
}
